* {
    font-family: sans-serif;
    color: #354052;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #eff3f6;
}
.container {
    width: 600px;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
}

.main-header {
    text-transform: uppercase;
    font-size: 30px;
}

.main-p {
    font-size: 20px;
}

.img-section {
    
}

.img-section img {
    max-width: 100%;
    width: 450px;
    /* height: 500px; */
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: padding .2s, transform .1s, background-color .1s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    padding: 10px 35px;
}

.btn:active {
    transform: translateY(1px);
    background-color: #004c9c;
}

.main-btn {
    margin-bottom: 20px;
}

.img {
    border: 3px solid #000;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.95);
    opacity: 1;
    transition: all .3s;
}

.popup > .container {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: scale(1);
    border: 1px solid #000;
    margin-top: -65px;
    /* transform: scale(1); */
    transition: all .3s;
}

.popup.hidden > .container {
    transform: scale(0);
}

.popup-header {
    margin-top: 0;
}

.hidden {
    opacity: 0;
}